
<header id="header" class="header bg-white text-black">

	<div class="header-inner inner pt-600 pb-600 flex flex-col align-center justify-center md:flex-row md:justify-between">
		{% include "components/logo.njk" %}
		{% include "components/leeds-logo.njk" %}
		{# {% include "components/nav.njk" %} #}
	</div>

</header>

