<div class="flex flex-col align-center justify-center">
    <a class="logo box-block color-white weight-bold" href="https://leedsdigitalfestival.org" title="TCG Logo"><img src="../../images/logo/leeds-digital-festival-logo.png" alt="Leeds Digital Festival Logo" style="width: 80px; height: 80px;"></a>
    <p class="text-center">Leeds Digital Festival 2021</p>
</div>