
{# Twitter #}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="LGBTQ+ Hack - Sign Up Now!">
<meta name="twitter:description" content="The Coders Guild are running an awesome Hackathon event in conjunction with LDF2021 - Sign Up Now!">
<meta name="twitter:site" content="https://www.lgbtqhack.com/">
<meta name="twitter:creator" content="The Coders Guild">
<meta name="twitter:image:src" content="https://leedsdigitalfestival.org/wp-content/uploads/2021/07/LDF_Social-1024x410.png">

{# Open Graph #}
<meta name="og:title" content="LGBTQ+ Hack - Sign Up Now!">
<meta name="og:description" content="The Coders Guild are running an awesome Hackathon event in conjunction with LDF2021 - Sign Up Now!">
<meta name="og:image" content="https://leedsdigitalfestival.org/wp-content/uploads/2021/07/LDF_Social-1024x410.png">
<meta name="og:url" content="https://www.lgbtqhack.com/">
<meta name="og:site_name" content="LGBTQ+ Hack">
<meta name="og:locale" content="en_GB">
<meta name="og:type" content="website">
