---
layout: base
title: donation
---
<div class="h-screen flex-col w-full">
  <div class="mt-10 mb-10 h-10 w-10 flex overflow-hidden bg-green-200">
  </div>
  <div class="h-10 w-10 flex overflow-hidden bg-green-500">
  </div>
  <img class="flex z-1 p-absolute" src="/images/milk-bottle.png" />
</div>