---
layout: base
title: donations
---

<div>
  <div class="max-w-7xl h-full mx-auto py-8 px-4 sm:py-12 sm:px-3 lg:px-8 text-center">
    <div class="primary mb-14">
      <h1 class="text-4xl">Donations</h1>
    </div>
    <div class="mb-14">
      <p>Donation guidance.... Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Possimus culpa odit quod
        unde! Eum molestiae
        necessitatibus harum deleniti obcaecati nostrum dicta veniam blanditiis mollitia sit nisi, enim voluptas ipsam
        facere!
      </p>
    </div>
    <div class="flex align-center justify-center">
      <img class="flex" src="https://www.abbysheroes.org/assets/img/DONATE_RED_BANNER@2x.png" />
    </div>
    <div class="mt-14">
      <p> Follow us on social media...
      </p>
    </div>
    <div class="flex flex-row align-center justify-center">
      <div class="flex align-center justify-center mt-12 mx-4">
        <a href="https://twitter.com/the_codersguild">
          <img class="h-14 w-14"
            src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-twitter-outline-1024.png" />
        </a>
      </div>
      <div class="flex align-center justify-center mt-12 mx-4">
        <a href="https://www.instagram.com/thecodersguild/">
          <img class="h-14 w-14"
            src="https://cdn4.iconfinder.com/data/icons/social-media-black-white-2/600/Instagram_glyph_svg-1024.png" />
        </a>
      </div>
      <div class="flex align-center justify-center mt-12 mx-4">
        <a href="https://www.facebook.com/TheCodersGuild">
          <img class="h-14 w-14" src="https://cdn3.iconfinder.com/data/icons/picons-social/57/06-facebook-1024.png" />
        </a>
      </div>
    </div>
  </div>
</div>