---
layout: base
title: donations
---

<div>
  <div class="max-w-7xl h-full mx-auto py-8 px-4 sm:py-12 sm:px-3 lg:px-8 text-center">
    <div class="primary mb-14">
      <h1 class="text-4xl">Donations</h1>
    </div>
    <div class="mb-14">
      <p>Donation guidance.... Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Possimus culpa odit quod
        unde! Eum molestiae
        necessitatibus harum deleniti obcaecati nostrum dicta veniam blanditiis mollitia sit nisi, enim voluptas ipsam
        facere!
      </p>
    </div>
    <div class="flex align-center justify-center">
    <img class="flex" src="https://www.abbysheroes.org/assets/img/DONATE_RED_BANNER@2x.png"/>
    </div>
    <div class="mt-14">
      <p> If you would like to follow us on social media... Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Possimus culpa odit quod unde! Eum molestiae
        necessitatibus harum deleniti obcaecati nostrum dicta veniam blanditiis mollitia sit nisi, enim voluptas ipsam
        facere!
      </p>
    </div> 
  </div>
</div>