---
layout: base
title: Thank you
subtitle: Thanks for your application! We will be in contact soon to confirm details.
description: Social Media Links/Icons to go here?
---

<div class="max-w-7xl mx-auto py-8 px-4 sm:py-24 sm:px-6 lg:px-8">
  <div class="text-center">
    <h6 class="text-base font-semibold text-white tracking-wide sm:text-5xl sm:tracking-tight lg:text-6xl">
      {{subtitle}}
    </h6>
    <p>{{description}}</p>
   {# need to add social media icons - how to import using svg's?#}
  </div>
</div>