---
layout: base
title: Thank you
subtitle: Thanks for your application! We will be in contact soon to confirm details.
description: Social Media Links/Icons to go here?
---

<div class="max-w-7xl h-screen mx-auto py-8 px-4 sm:py-24 sm:px-6 lg:px-8">
  <div class="text-center">
    <h6 class="text-base font-semibold text-white tracking-wide sm:text-5xl sm:tracking-tight lg:text-6xl">
      {{subtitle}}
    </h6>
    <p>{{description}}</p>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.lgbtqhack.com/">
      <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/46-facebook-512.png" />
    </a>
    <br />
    <a href="https://www.lgbtqhack.com/">
      <button>Return Home</button>
    </a>
  </div>
</div>