---
layout: base
title: Thank you
---

<div class="flex-1 h-screen leading-10 justify-center">
  <div class="text-center">
    <h6 class="text-base font-semibold text-white tracking-wide mt-10 text-5xl">
      Thank you for registering a team in the Leeds LGBTQ+ Hack.<br />
      <br />Check your inbox for more details.
    </h6>
    <br />

    <h4 class="text-800">Spread the love and share on your socials!</h4>

    <div class="flex flex-row justify-center mt-22">

      <div
        class="bg-gradient-to-r from-red-700 via-yellow-600 to-yellow-200 h-40 w-40 my-12 py-10 mx-8 flex justify-center rounded-lg shadow-2xl">
        <a class="no-underline" href="https://www.facebook.com/sharer/sharer.php?u=https://www.lgbtqhack.com/"
          target="_blank">
          <img class="rounded-full shadow-2xl"
            src="https://cdn1.iconfinder.com/data/icons/social-media-2285/512/Colored_Facebook3_svg-256.png"
            height="80px" width="80px" />
        </a>
      </div>

      <div
        class="bg-gradient-to-r from-yellow-200 via-yellow-500 to-green-500 h-40 w-40 my-12 py-10 mx-8 flex justify-center rounded-lg shadow-2xl">
        <a class="no-underline" href="https://twitter.com/intent/tweet?url=https://www.lgbtqhack.com/&text="
          target="_blank">
          <img class="rounded-full shadow-2xl"
            src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-twitter-128.png" height="80px"
            width="80px"></a>
      </div>
      <div
        class="bg-gradient-to-r from-green-600 via-blue-600 to-purple-600 h-40 w-40 my-12 py-10 mx-8 flex justify-center rounded-lg shadow-2xl">
        <a class="no-underline m" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.lgbtqhack.com/"
          target="_blank"><img class="rounded-full shadow-2xl"
            src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-128.png" height="80px"
            width="80px"></a>
      </div>
    </div>
    <div class="mt-8 mb-8">
      <a href="https://www.lgbtqhack.com/">
        <button class="text-2xl">Return Home</button>
      </a>
    </div>
  </div>
</div>